[2018-11-27 12:59] karthinalliyappan opened #1 "'config.h' file not found"
'config.h' file not found --> Got the error.

Environment Setup:
Xcode : 10.1
Operating system : 10.3.1
React-native : 0.57.6

Attached the screen shot for reference.
![screen shot 2018 11 27 at 6 07 02 pm](https://user-images.githubusercontent.com/26541759/49083348-53beb200-f272-11e8-8b08-f76687b8612b.png)

[2018-11-27 12:59] karthinalliyappan commented on #1
Followed the below steps:
![screen shot 2018-11-27 at 5 43 47 pm](https://user-images.githubusercontent.com/26541759/49083372-63d69180-f272-11e8-987b-780a335317c6.png)

[2018-11-27 16:51] Comanga commented on #1
third-party is a react-native library, what happened if you generate a brand new project with: `react-native init Test` and try to building it without Voxeet?

[2018-12-03 05:09] karthinalliyappan commented on #1
I'm tried the ` react-native init Test ` and build the app its working.

[2018-12-03 09:08] Comanga commented on #1
Well, is it possible to push a project with your error on github so I can test it?

react-native-cli: 2.0.1
react-native: 0.57.5 (will update)

[2018-12-07 09:24] karthinalliyappan opened #2 "java.lang.RuntimeException: java.io.IOException: Failed to find byte code for android/support/v7/app/AppCompatActivity"
java.lang.RuntimeException: com.android.build.api.transform.TransformException: java.lang.RuntimeException: java.lang.RuntimeException: java.io.IOException: Failed to find byte code for android/support/v7/app/AppCompatActivity
	at com.android.builder.profile.Recorder$Block.handleException(Recorder.java:55)
	at com.android.builder.profile.ThreadRecorder.record(ThreadRecorder.java:104)
	at com.andro

[2018-12-14 12:37] #2 closed

[2019-02-02 05:22] karthinalliyappan opened #3 "Video call not connecting in Android device."
We can't get the video call stream in android device, but in iOS its working fine.
-> In android we get the video call screen, but the text showing waiting for users (or) Calling users.

- Version:
React native : 0.57.7
buildToolsVersion = "27.0.3"
compileSdkVersion = 27
targetSdkVersion = 26

Attached the error file we got in the android. and the android screen shot.
![android_scren](https://user

[2019-02-08 22:12] codlab commented on #1
Issue closed for inactivity. Project working on both ends

[2019-02-08 22:12] #1 closed

[2019-02-08 22:13] codlab commented on #3
Unable to reproduce on a clean project

[2019-02-11 01:33] codlab commented on #3
can you check in the app permissions screen the following :
- mic permission on

[2019-02-11 21:55] codlab commented on #3
an other thing interesting to test is to connect 2 Android together

[2019-02-19 00:31] codlab commented on #3
Closing this issue due to inactivity. From the logs sent previously, the issue seems related to specifically invalid keys or unrelated implementation

[2019-02-19 00:31] #3 closed

[2019-05-06 18:51] livindead opened #4 "Installation problem"
**Describe the bug**

After run command
npm install @voxeet/react-native-voxeet-conferencekit --save

Console error

@voxeet/react-native-voxeet-conferencekit@0.1.1 postinstall /Users/light/workflow/react/akbars/AkbarsProject/node_modules/@voxeet/react-native-voxeet-conferencekit

build_ios_frameworks.sh: line 4: carthage: command not found
npm WARN @voxeet/react-components@0.32.1 requires a peer

[2019-05-06 18:56] codlab commented on #4
[code]

Please install [Carthage](https://github.com/Carthage/Carthage) on your Mac

[2019-05-06 19:01] livindead commented on #4
And if you work under Windows ?

[2019-05-06 19:07] codlab commented on #4
It'll likely won't work for now

[2019-05-06 19:19] livindead commented on #4
the error is still there

 bash build_ios_frameworks.sh

*** Fetching voxeet-ios-conferencekit
*** Fetching voxeet-ios-sdk
*** Fetching Kingfisher
*** Checking out voxeet-ios-conferencekit at "1.1.9"
*** Checking out voxeet-ios-sdk at "1.3.9"
*** Checking out Kingfisher at "b5abf719d7e7428895542ebd5f0faa115b41a262"
*** xcodebuild output can be found in /var/folders/gs/89fcc4hd00q8n7mpf9y48f0m0000g

[2019-05-06 19:51] codlab commented on #4
[code]

An error is still there and concern your XCode installation. Please check that you are using the latest version of the XCode environment available

@VTCoco should be able to give more information if needed

[2019-05-07 18:52] livindead commented on #4
How i can check successful instalation ?
Does voxeet support the Expo cli ?
I only found old example
https://github.com/voxeet/voxeet-rn-conferencekit/blob/master/src/components/Voxeet.js
but this it douesnt work

[2019-05-07 21:48] livindead commented on #4
`** BUILD FAILED **

The following build commands failed:
	CompileC /Users/light/workflow/react/Awe/ios/build/Awe/Build/Intermediates.noindex/RNVoxeetConferencekit.build/Debug-iphonesimulator/RNVoxeetConferencekit.build/Objects-normal/x86_64/RNVoxeetConferencekit.o /Users/light/workflow/react/Awe/node_modules/@voxeet/react-native-voxeet-conferencekit/ios/RNVoxeetConferencekit/RNVoxeetConferencekit

[2019-05-07 22:11] codlab commented on #4
Please open a proper issue for this specific issue and provide the actual error. Thanks a lot ;)

[2019-05-07 22:11] #4 closed

[2019-05-08 06:09] livindead opened #5 "BUILD FAILED"
**Describe the bug**
After installation and linking when trying to run an empty project when compiling, an error occurs
react-native init AwesomeProject
npm install @voxeet/react-native-voxeet-conferencekit --save
react-native link @voxeet/react-native-voxeet-conferencekit
react-native run-ios

`

info CompileC /Users/light/workflow/react/Awe/ios/build/Awe/Build/Intermediates.noindex/RNVoxeetConfe

[2020-04-28 06:35] AlexanderPodlesniyQs opened #6 "[Android] Native Events are not emitted to JS"
**Native Events are not emitted to JS on Android**

After some research I've found 3 issues preventing event emitting.
1. RNVoxeetConferencekitPackage doesn't export RNVoxeetConferenceEventModule.
2. ConferenceStatusEventEmitter class doesn't have @Subscribe decorators for onEvent functions (ConferenceUserEventEmitter class has it).
3. AbstractEventEmitter class in emit function throws "Invocation

[2020-04-28 06:37] codlab commented on #6
This is not a bug, it's a feature meant to be released for a future version of the library 👍

[2020-04-28 06:52] AlexanderPodlesniyQs opened #7 "[Android] VoxeetSDK.join doesn't resolve or reject promise"
VoxeetSDK.join function returns promise which is never resolved or rejected.

Debugging says that this part of code is actually executed:

[code]
But it's never get to "then" or "error" part. Even after conference is closed.

[2020-04-28 07:02] codlab commented on #7
Please follow the given template when creating a new issue.

What is the version of the plugin you're using?

[2020-04-28 07:23] #7 closed

[2020-04-28 07:24] codlab commented on #7
This should be fixed using the mapped Conference instead of the pure Conference instance

[2020-04-28 09:17] AlexanderPodlesniyQs opened #8 "[Android] ConferenceUserUtil.toMap fails if user.getStatus() is null"
**ConferenceUserUtil.toMap fails if user.getStatus() is null**

In ConferenceUserUtil class toMap function throws exception if user status is null.
This line produces it:
[code]

**Expected Behaviour**

Handle user status is null

After fixes for this [issue](https://github.com/voxeet/voxeet-uxkit-reactnative/issues/7) VoxeetSDK.join promise always fails because of this problem.

**Specifications*

[2020-04-28 10:12] #8 closed

[2020-04-28 10:14] codlab commented on #8
The last commit 1bb81f9 will fix the issue. A fix is scheduled for the SDK to send the proper non null expected value

[2020-05-05 09:50] AlexanderPodlesniyQs opened #9 "Different behavior of call window on Android and iOS devices"
Call window* is shown on different actions on Android and iOS devices.

* Android
Call window is shown after VoxeetSDK.join function call.
* iOS
Call window is shown after VoxeetSDK.create function call.

In general it's not a problem but:
- it's unclear behavior on different platforms
- **on iOS, after VoxeetSDK.create function call, call window is shown with all buttons disabled. If VoxeetSDK.jo

[2020-05-05 13:43] VTCoco commented on #9
For most cases, you need to call the `create` **and** `join` methods (`create` method only generate a conference for 60s, if nobody enters, it will be destroyed).
Do you have a special utility of creating a conference without joining it? I'm trying first to understand your workflow.

[2020-05-06 05:54] damithsynapsys commented on #9
@AlexanderPodlesniyQs @VTCoco hey guys if you have API document for this can you share with me, please.

[2020-05-13 23:50] marymhart opened #10 "Android bugs with 3 or more participants"
**Describe the bug**

When three (or more) participants are in a conference, it is not possible to see the full screen video of the third participant. Clicking on the participant's cell at the top of the screen does not do anything & the vu meter does not work. The third participant's cell also blinks repeatedly throughout the call.

**Expected Behaviour**

As on iOS, the vu meter functions as int

[2020-05-17 13:24] codlab commented on #10
The VU meter functionnality will be bring to the react native and cordova environments really soon (pushed minutes ago to the native UXKit itself).

Concerning the case here with the 3rd participant's issue, it seems from the screenshot that the user never was in the conference at all.

Could it be possible to have more information about this 3rd participant? :

- device
- logs
- conference id

lo

[2020-05-18 10:23] marymhart commented on #10
Thanks for the updates @codlab. I should clarify that in the screenshot I am trying to select the user in the center at the top of the screen whose video you can see. The user successfully joins/participates in the call but selecting their avatar/participant cell does not do anything so there is no way to see them full screen. The greyed out avatar on the right is a participant who was left the ca

[2020-05-18 10:34] codlab commented on #10
I thought you talked about the 3rd avatar. Yes, it's an intended behaviour. Customization of this behaviour should be available in the future depending on our roadmap in the upcoming Qs.

A new version of the library is available and should bring everything on track for the Android side with the 0.1.28

[2020-05-18 13:16] marymhart commented on #10
@codlab I just pulled 0.1.28 & the issue still exists on Android. In the attached screenshot, there are 3 participants on the call (host/Android user + 2 participants seen in the participant cells at the top). The full screen view is stuck on the participant on the right & there is no way to view the other user's video full screen (participant cell on the left).
![Screenshot_20200518-090741](https

[2020-05-18 13:18] codlab commented on #10
Can you provide the logs of the current device when trying to click on the user's avatar to select/unselect them ?

[2020-05-18 13:34] marymhart commented on #10
See below
[code]

[2020-05-18 13:35] codlab commented on #10
The logs are unfortunately only with a couple of seconds and do not show interactions with the avatars. Can you send longer ones ?

[2020-05-18 13:43] marymhart commented on #10
You can see the avatar selected on line 2 `D/ParticipantViewAdapter: onClick: selecting the user 5153cd70-9cb3-3e2c-9b5a-e59fb612da77`. In the logs below I repeated the process a few times.
[code]

[2020-05-20 20:37] marymhart commented on #10
hey @codlab just checking in to see if you have an update or if you were able to recreate? Thanks!

[2020-06-01 17:21] 13thdeus opened #11 "[android] No action on accepting conference call from notification"
**Describe the bug**

User with android device not able to join to the conference by clicking on "Accept" button in notification

**Expected Behaviour**

User should succefully join to the conference

**Steps to Reproduce the Problem**

  1. Create a conference from any device
  2. Invite user with android device
  3. Press "Accept" in notification shown

**Minimalistic code (recommended)**

Confe

[2020-06-01 17:39] codlab commented on #11
Have you set incoming call activity metadata in the AndroidManifest file?

[2020-06-01 17:49] 13thdeus commented on #11
@codlab , I have not found any tutorials, so I've added following lines in AndroidManifest (something like this I've found in android sample):
[code]

[2020-06-01 17:53] codlab commented on #11
Can you adding this metadata and as value the fully qualified name to your MainActivity from which is starting the react native engine?

The android:name is voxeet_incoming_accepted_class

[2020-06-01 17:59] 13thdeus commented on #11
@codlab , sorry I'm not advanced in native platforms. Can you please tell me what I need to change in AndroidManifest? Here is full manifest file:
[code]

[2020-06-01 18:00] codlab commented on #11
It must be alongside the other metadata you have inside the file

[2020-06-01 18:12] 13thdeus commented on #11
@codlab , it works. Thank you.

[2020-06-01 18:20] codlab commented on #11
Perfect 👍

[2020-06-01 18:20] #11 closed

[2020-06-10 15:08] marymhart opened #12 "After ending session, unable to join conference with new session"
**Describe the bug**

After ending a session, I am unable to start a new session & join new conference.

**Expected Behaviour**
After ending a session, I should be able to open a new session & start a new conference.

**Steps to Reproduce the Problem**

  1. Create conference using & end conference using `handleCreateConference()` & `handleEndConference()` below
  2. Start a new conference using `

[2020-06-12 15:21] vjard commented on #12
Hello @marymhart,

Does this code call VoxeetSDK.initialize("xxx", "xxx") ?
[code]

If this is the case, you don't have to call this code every time you want to create a conference, but only once.
I managed to reproduce your problem by calling this code several times. Can you try it by calling it only once during your application cycle?

[2020-06-12 15:49] marymhart commented on #12
hey @vjard the function is below. The main issue we are facing is when we log out & log back in of our app. In this instance we do want to call `initializeToken` again since the token will not be refreshed while logged out. Is there a rate limit or something we should be aware of?

[code]

[2020-06-17 12:35] vjard commented on #12
Hello @marymhart,

We have just fixed this issue in version 0.1.31 (now available)
Thank you for your feedback.

[2020-06-17 12:35] #12 closed

[2020-07-02 05:52] jfan-dolby opened #14 "rtcpMode not working for iOS react-native"
Copied from internal tracking ticket CC-374.

[2020-07-02 13:05] VTCoco commented on #14
Fixed with https://github.com/voxeet/voxeet-uxkit-reactnative/releases/tag/v0.1.33

[2020-07-02 13:05] #14 closed

[2020-07-30 00:43] jchang0419 commented on #6
@codlab was this ever added?

[2021-02-02 07:09] techiespace opened #18 "Broken link to Android SDK Sample in read me"
**Describe the bug**

Android SDK Sample link in README.md is broken

**Expected Behaviour**

Point to the correct sample repo

**Steps to Reproduce the Problem**

  1. Go to https://github.com/voxeet/voxeet-uxkit-reactnative
  2. Click on Android SDK Sample link in README.md
  3. The link redirects to a 404 page

[2021-02-16 16:40] techiespace opened #19 "Error importing com.reactlibrary.RNReactNativeVoxeetConferencekitPackage"
**Describe the bug**

I followed the setup instructions for [uikit](https://dolby.io/developers/interactivity-apis/reference/client-ux-kit/uxkit-voxeet-react-native) configuration for react native. After doing `react-native run-android` I get an error while trying to import com.reactlibrary.RNReactNativeVoxeetConferencekitPackage

**Steps to Reproduce the Problem**

Followed the exacts steps for i

[2021-02-16 17:30] codlab commented on #19
Following the release of our latests versions, the only modification required are the following and will be updated soon

in the MainActivity.java file :

- `import com.voxeet.specifics.RNVoxeetActivity;`
- `public class MainActivity extends RNVoxeetActivity {` instead of _public class MainActivity extends ReactActivity {_

in the MainApplication.java file :

- import com.voxeet.sdk.push.utils.Not

[2021-02-17 07:09] techiespace commented on #19
@codlab I've removed the previous imports and only added the snippets you mentioned above. This allowed me to compile for android. However the [(react functions)](https://dolby.io/developers/interactivity-apis/tutorials/getting-started/quick-start) to create and join conference do not work for native. Same for the streamAdded and streamUpdated callbacks. Can you please help on how we can create an

[2021-02-17 15:54] FabienLavocat commented on #19
@techiespace Hi, I've seen your second support ticket about the streamAdded, streamUpdated as well as the VoxeetSDK functions from React.JS.
This is not something the UXKit is capable of doing today. Using the UXKit, you should not need to use these events as the UXKit will handle the management of the video streams directly in the overlay.

[2021-02-17 15:56] FabienLavocat commented on #18
Thank you, this link has been removed in the coming version of the UXKit for React Native.

[2021-02-17 17:35] techiespace commented on #19
@FabienLavocat can you give any code example on how to used the UXKit. The docs provide examples and tutorials for React web only. I see the following imports available from index.d.ts in my React Native node modules.

[code]

A quick example of how to use these would be very helpful.

[2021-02-17 17:58] FabienLavocat commented on #19
We are going to publish a new version of the UXKit for React Native this week or next week. It will contain an updated documentation (See the [readme preview](https://github.com/voxeet/voxeet-uxkit-reactnative/blob/beta/0.2.6/README.md)) as well as documented TypeScript definition of the VoxeetSDK object (preview of the [definition](https://github.com/voxeet/voxeet-uxkit-reactnative/blob/beta/0.2.

[2021-02-18 08:40] techiespace commented on #19
After calling `initialize`, `connect`, `create` and `join`, what is the next step? What should I have my render method?

[2021-02-18 15:57] FabienLavocat commented on #19
The `join` function will open the UXKit layout on top of your application. The end user will be directly in the conference.
If you want to invite someone, you can also call the [invite](https://github.com/voxeet/voxeet-uxkit-reactnative/blob/beta/0.2.6/dist/VoxeetSDK.d.ts#L53) function to have someone joining your conference.

[2021-02-19 04:53] techiespace commented on #19
1. Code:
[code]
The app just exits without any error in console.

2. Usecase:
We have an admin and consumer. Admin sends an invite to multiple consumers and consumer joins the conference. Before joining consumer should see a camera preview in a small window which is also sent to the admin(So admin can see previews of all consumers and then select which ones to allow in the main conference). Once t

[2021-02-19 07:37] codlab commented on #19
The crash of the app indicates that you must likely haven’t set Hermes as the default engine runner for your app. Please follow the mandatory steps for Android in the main readme section and retry from there.

[2021-02-19 14:09] techiespace commented on #19
@codlab I have this line added in my app/build.gradle

[code]

[2021-02-19 17:30] codlab commented on #19
With it you normally will use the hermes engine and won’t have the issue.

note that the snippet you posted before has an asynchronous bug. The await won’t wait for the join to return: please add a return statement before the VoxeetSDK’s join call (for the promise to be propagate to the main).

[2021-02-19 17:37] codlab commented on #19
You can use the following to be more concise :

[code]

[2021-02-19 17:38] codlab commented on #19
If you still have a crash, can you forward your `adb logcat` results but it won't likely happen since the Hermes engine, the new one, is compatible with our library as well as all the other ones

[2021-02-20 11:37] techiespace commented on #19
I'll check it and get back to you. Can you please see the aforementioned use-case, is possible using uxkit?
Also, do we have any control(like resizing and changing its styles) over the overlay that will be displayed after join?

[2021-02-22 16:58] techiespace commented on #19
@codlab adb logcat printed the below error message just before the app crashed.
[code]

[2021-02-22 17:11] codlab commented on #19
It seems that you are using the uxkit's firebase module but did not actually set up Firebase inside your project which then in turn crash your app

[2021-02-22 18:43] techiespace commented on #19
I'm not using firebase explicity anywhere in the project. Followed the readme [here](https://github.com/voxeet/voxeet-uxkit-reactnative-firebase) for adding it. Is there any change apart from the readme there?

[code]

[2021-02-22 18:58] techiespace commented on #19
Also, can you please take a look at the usecase above and let us know if it is possible using UX kit on consumer side and Voxeet web SDK on admin side?

[2021-02-22 19:08] codlab commented on #19
Firebase was not the issue 👍 This exception is just a print. It seems that your app is not using the Hermes configuration. Can you clean the folder android/app/build, it really seems that it still uses the previous native build?

[2021-02-22 19:09] codlab commented on #19
Concerning your use case, react-native is only meant to make the use of the UXKit's overlay for now. Future releases will introduce more features

[2021-02-22 20:08] techiespace commented on #19
I did a full clean (`./gradlew clean && ./gradlew cleanBuildCache && cd .. && ./gradlew`), uninstalled the app and reinstalled it on emulator. The error is similar to before..

Opening for first time after build:
[code]

[2021-02-22 20:23] techiespace commented on #19
`const isHermes = () => !!global.HermesInternal;`
returns true

[2021-02-22 20:32] codlab commented on #19
The Firebase error will still be displayed, the react-native-uxkit is meant to be used (for now) with Firebase. It then just discard the error (the stack is printed but does not throw)

[code]

Indicates that this time the app does not have the mic permission. Please retry your flow after having requested the mic permission

[2021-02-23 11:22] techiespace commented on #19
Added the RECORD_AUDIO permission code.

[code]
Fulll logs:
[code]

[2021-02-23 11:25] codlab commented on #19
What is your react-native project version? Can you forward a public repository integrating the plugin so that I can try to reproduce the issue? is it working on a real device?

[2021-02-23 15:22] techiespace commented on #19
@codlab I created a new repo with same react-native version to isolate the issue and I got the overlay screen there! I'm backtracking the issue with my current repo and will update here on the root cause.

[2021-02-23 15:23] codlab commented on #19
Thanks for the update. Please ping me so I can as well try to reproduce the complete flow on my side 👍

[2021-02-24 09:43] techiespace commented on #19
[Here](https://github.com/techiespace/voxeet-demo) is the link for the repo having the crash issue. Please add <consumer_key> and <consumer_secret> in `loginScreen.js`. Also provide the permissions for recording and camera manually as mentioned in the README.
You might have to restart the app a couple of times before you get a crash. Logcat would show the below log when the crash happens:
[code]

[2021-02-25 05:21] techiespace commented on #19
@codlab did the crash replicate for you?

[2021-02-26 06:24] techiespace commented on #19
@codlab any update on this?

[2021-03-01 16:20] FabienLavocat commented on #19
I can reproduce the crash with your repo, thank you for sharing it.
@codlab could it be because the initialization of the SDK is not ready when the conference starts? If you reopen the application after the crash, then it works properly.

@techiespace the function `VoxeetSDK.initialize` returns a promise, so you must `await` it or use the `.then()`

[2021-03-01 16:23] codlab commented on #19
I couldn't work on it with the new SDK version that we are pushing. I will give a look in the next few hours (with as well the new SDK version - there are few improvements that are specifically in the JNI side which means that it may be some good news on this)

[2021-03-01 16:42] techiespace commented on #19
@FabienLavocat Thanks for the update. I tried adding await to to call but unfortunately facing the same crash and error as before.

[2021-03-01 19:04] codlab commented on #19
I also got the crash when testing on my device. I fixed it by removing the direct dependency from the dependencies block. I also integrated the newest version of the SDK + UXKit to be sure it was using the latest binaries (it works normally without this modification)

You can find the modification here https://github.com/codlab/voxeet-demo/commit/31d2119e9c31db99712c2c803bd52677e074f040

It's safe

[2021-03-01 20:02] techiespace commented on #19
I cloned the repo and did a fresh install. However the same error pops up. Can you try uninstalling the app and then reinstall it with `react-native run-android`? Its not always the first time that the app crashes. At times it crashes on reinstalling 3-4 times.

Steps I followed:
1. Clone the repo
2. Add key and secret
2. yarn install
3. delete all folders in android/app/build/
3. react-native sta

[2021-03-02 01:24] codlab commented on #19
I still can’t reproduce the issue using the repo I created. Can you push to your repo to be sure?

[2021-03-02 04:47] codlab commented on #19
Using my fork, I made the following for 20min (between 10 to 15 full rebuilds) : `adb uninstall live.streamstyle ; rm -rf android/app/build ; react-native run-android` the issue could not be reproduced

[2021-03-03 04:10] techiespace commented on #19
Here is my repo: https://github.com/techiespace/voxeet-demo/tree/codlab-fork (same as your fork with added camera permission)

I've added the complete log during the crash along with a screencast of the crash [here](https://drive.google.com/drive/folders/1NxORX1RmY0gltHiBNwqmoLzTIuEjkjEM?usp=sharing). The issue is reproduced at 2:15 in the screencast.

Android device specs:

- Device: Red Mi Note

[2021-03-03 05:37] codlab commented on #19
I could not reproduce the issue. I reverted to non Hermes mode to check it and I have the previously obtained crash where you've got the TKILL exception following `sole::uuid::str()` call. I will check if I can track the error down (given that the react native is using the precompiled sdk and such it will be quite something but hopefully I'll get more info today about that error).

[code]

[2021-03-04 03:28] codlab commented on #19
Given that react-native libraries are clashing with ours, I suggest to fallback to the `0.61.5` for instance which should be ok using the Hermes engine. I will continue to dig into the issue (I can confirm that it's about using some of the std methods that it clashes. A possibility is that latest react native libs have introduced a regression and use some deprecated libs which collide with the sta

[2021-03-04 03:44] techiespace commented on #19
Thanks for the update. I'll change the react-native version and re-recheck :+1:

[2021-03-04 03:49] codlab commented on #19
But I still can't reproduce the issue at all with the Hermes engine

[2021-03-04 04:09] techiespace commented on #19
![image](https://user-images.githubusercontent.com/28813320/109910055-4a341800-7ccd-11eb-8f73-a92f8c4c1860.png)
I'm sure that Hermes is enabled in my setup..

Downgrading the react-native version is leading to a different error:
[code]

[2021-03-04 04:12] codlab commented on #19
I will note this for the next version to prevent any issue like this. Can you update the js code from

[code]

to

[code]

[2021-03-04 04:23] techiespace commented on #19
Adding `avatarUrl: ''` worked. The app has not crashed till now. I'll test it some more today and get back.

[2021-03-05 06:01] techiespace commented on #19
@codlab Do we have any callback which is triggered when a participant leaves the call or is kicker out by another participant?

[2021-03-06 00:21] FabienLavocat commented on #19
@techiespace the UXKit for React Native does not have the conference events implemented in the RN layer.

[2021-03-08 21:28] ravieze opened #21 "IOS build fails with compilation error"
HI,

We have an existing react-native app which is ejected to integrate with voxeet apis. The intent here is to integrate with IOS devices and get voxeet working on it. Below is what we did and the issues we got into. KIndly let me know where we are doing mistakes.

Like mentioned in the page: https://github.com/voxeet/voxeet-uxkit-reactnative we have made the mandatory modifications. We had done

[2021-03-10 06:13] ravieze commented on #21
Any update please?

[2021-03-11 05:26] techiespace commented on #19
Could the `RNVoxeetConferenceEvent` be of any help here? I see that the SDK also provides `VoxeetEvents`. If not is any other work around possible?

We have handled the case when the user is kicked out by admin(using socket messages sent from admin). So when user receives the message we call the `leave()` function along with other functions to update state.

The issue is only when the user leaves

[2021-03-11 09:47] ravieze commented on #21
HI,

To get things working on ideal case, we created a new expo project and followed the instructions mentioned in the `Getting started` section of the github. We were unable to compile the code and get going. Looks like something important is missing. Anyhelp?

[code]

[2021-03-11 09:52] codlab commented on #21
Expo apps are out-of-the-box without Podfile or anything related to native platform integration because Expo apps are meant to be without any specific native plugin (`expo init` is not the same as `react-native init`), that's why the plugin is having issues to be integrated. You need either to use `react-native init` or `npm run eject` as the expo documentation is stating)

[2021-03-11 09:54] codlab commented on #21
Since your logs are stating that the issue is ` error: include of non-modular header inside framework module 'UMPermissionsInterface.UMPermissionsInterface'`, what is the output when compiling after you `Allow Non-modular includes in Framework Modules` = `YES` inside the xcworkspace project ?

@Comanga can you confirm?

[2021-03-12 17:25] ravieze commented on #21
Hi,

This is what i did.

1. ejected the expo app
2. added the @voxeet/react-native-voxeet-conferencekit

now the iPhone simulator is coming up and the default text is being displayed. So far we are good. I modified the App.js as follows and redid the test. This time it failed with the below error

[code]
the src code of App.js ( which was originally generated by expo init; and then we ejected and

[2021-03-12 17:34] codlab commented on #21
The issue is that you need to do the following in your case:

- VoxeetSDK.session.participant does not exist
- the VoxeetSDK is a class and needs to be used to create an instance

[code]

[2021-03-12 18:12] ravieze commented on #21
Hi,

If you dont mind, can you give the code where in i can join the conference. My intent of just putting initialise alone was to tell that the 1st baby step itself failed to me.

thanks,
ravi

[2021-03-12 18:40] codlab commented on #21
You can use the following snippet to do this :
[code]

[2021-03-14 22:25] FabienLavocat commented on #19
@techiespace You could implement the events by looking at what is done on the Cordova side - https://github.com/voxeet/voxeet-uxkit-cordova/blob/master/src/android/com/voxeet/toolkit/VoxeetCordova.java#L498 - https://github.com/voxeet/voxeet-uxkit-cordova/blob/master/src/ios/CDVVoxeet.m#L446

[2021-03-15 11:59] ravieze commented on #21
Hi Codlab,

I tried the given code. The same is checked-in here: https://github.com/ravieze/voxeet-app

So below is what i had done

[code]
Error as follows

[code]
[code]

Any thoughts?

[2021-03-16 04:53] ravieze commented on #21
Guys, Any update.

I had also created a expo project from scratch reproduced the issue and shared the code. Anything more you think i can do ?

[2021-03-16 08:11] vjard commented on #21
Hello @ravieze , can you try the following steps:
[code]

[2021-03-17 17:41] ravieze commented on #21
Sure. I will try and get back. Thank you very much for the response though.

[2021-03-19 12:56] ravieze commented on #21
Hi,
this fixed the issue. Thank you.

[2021-03-20 05:09] #18 closed

[2021-03-22 17:25] techiespace opened #23 "Changing the default UX kit layout to show Grid/Carrousel View"
We have a requirement to show a grid of viewers when the number of users is less than 4 and a carrousel like Zoom mobile app when users are greater than 4. Currently, we are trying to modify the UXkit code to change the circles on top to bigger rectangle views in a grid.
I see that RCTVoxeetVideoView is responsible for returning the VideoView which has a prop isCircle. The `VideoView` itself is co

[2021-03-23 15:12] codlab commented on #23
This is currently impossible but a future version of the library will let you manage the layout using directly the various events + participants and their related streams

[2021-03-23 16:27] techiespace commented on #23
If not though UX Kit what other approach can we take? Is it possible to write wrappers on top of the android and iOS SDKs to achieve this?
I'm just curious if I can create a fork change the UX kit somehow to achieve this. However, while going through the code I noticed some parts of the overlay (eg. Waiting for users... text) are not present in this codebase of react-native UXKit.

[2021-03-23 16:29] codlab commented on #23
For custom layout like this you won't be able to use the overlay but with the new API you will be able to grab the list of participants, stream for each of them and directly attach/unattach onto VideoView that you will be able to mount directly into your app controlling fully your own implementation directly in your React environment

[2021-03-23 16:44] techiespace commented on #23
By new API you mean there are methods added in the recent voxeet-uxkit-reactnative version to get participants list and attach their streams to VideoView?
In the new version, I see the below types/methods available
[code]
How do I get the participant list and video stream URIs from here?

[2021-03-23 16:49] techiespace commented on #23
Are there any rough timelines on when is this update planned for?

[2021-03-23 16:50] codlab commented on #23
It's still a WIP, the VoxeetSDK is providing two methods (streams and participants) - on top of the events which exists and will be documented for typescript usage a bit later

From there, when the streams for a given participant are obtained, you will be able to do things like :

[code]

and from there build up a complete interface meeting your needs

[2021-03-23 17:14] techiespace commented on #23
Okay. Thanks for the update.
One question on the new version. With the VoxeetEvents class now added we should now be able to listen to conference events like when the user leaves the call right?
Can we also listen when a video presentation starts like we do using the Voxeet JS SDK in the code snippet below:
[code]

[2021-03-24 03:50] techiespace commented on #23
I tried adding event listener to my code:
[code]
But the event is not getting triggered. I isolated the issue here in this repo: https://github.com/techiespace/voxeet-demo

[2021-03-25 09:04] codlab commented on #23
What is the platform you can reproduce the issue onto?

[2021-03-25 09:41] techiespace commented on #23
1. The event listener for ConferenceStatusUpdatedEvent is not working.
2. I'm not sure which callback should I use to listen to when a video presentation starts

On Android

[2021-03-26 17:19] codlab commented on #23
1. The current develop branch should have the fix for this issue 👍

2. It's currently not supported. The various events are going to be implemented in the next weeks, those for the presentation as well

[2021-03-26 21:24] codlab commented on #23
I have added all the various events that you can use when registering to the events

[2021-03-30 18:10] ravieze commented on #21
HI,

While the given steps work for a project which is initiated via react-native, i was curious why they dont work for an ejected expo app.

Why i ask is because -- our app is in expo and we have toomuch dependency on expo packages. Migrating away from expo is a very big process. Any thoughts? any workarounds or pointers you can give me?

[2021-03-31 07:24] vjard commented on #21
Hello @ravieze,

I succeed to build with the following expo steps (version 4.3.2)

expo init YOURAPP (blank)
cd YOURAPP
yarn add @voxeet/react-native-voxeet-conferencekit --save
expo eject
cd ios
pod update
Follow https://github.com/voxeet/voxeet-uxkit-reactnative Mandatory modifications
Build.

[2021-04-02 08:37] telltokichu opened #24 "not receiving voxeet events"
@FabienLavocat
I want to subscribe to voxeet events as mentioned in README.md

version i'm using
    "@voxeet/react-native-voxeet-conferencekit": "^0.2.10",

[code]

I am getting error - "[TypeError: Cannot read property 'addListener' of undefined]"
my code -
[code]
other than that video conference is working fine.

[2021-04-02 08:43] codlab commented on #24
There’s a typo in the documentation. You actually need to use VoxeetSDK.events().addListener

[2021-04-02 08:50] telltokichu commented on #24
I updated it to
[code]
still getting error - "[TypeError: undefined is not a function]"

[2021-04-02 10:17] codlab commented on #24
My bad, forgot that we set up a get events() which translates to a field access.

I can't reproduce the issue, can you copy paste the file at `node_modules/@voxeet/react-native-voxeet-conferencekit/dist/VoxeetSDK.js` from your project ?

[2021-04-02 10:24] telltokichu commented on #24
the file at node_modules/@voxeet/react-native-voxeet-conferencekit/dist/VoxeetSDK.js
[code]

[2021-04-02 10:26] codlab commented on #24
What is your react native version?

[2021-04-02 11:32] telltokichu commented on #24
React native version
[code]

[2021-04-03 17:59] ravieze commented on #21
Hi,

on a separate thread we were asked to stick with react native 0.61.5 (for the voxeet to work on android). Now if i use the same version for IOS i get the below error. Looks like we need to comeup with a common version number which works for both. any thoughts? I dont think we have an option to upgrade beyond 0.61.5 for this reason. The ideal fix should be on 0.61.5

[code]
While trying severa

[2021-04-03 18:01] ravieze commented on #21
I have been trying several ways but looks like i m going in circles, and given that I am new to IOS development I am not sure how to proceed further from here

[2021-04-03 18:24] codlab commented on #21
Regarding Android, I have created a workaround on the issue with the native libraries using a script to remove the outdated shared libraries from React and make sure only the most up to date one is available in the app for all libraries. If you have a working iOS versions, you can normally stick to it and simply use the script [patch.react.aar.sh](https://github.com/voxeet/voxeet-uxkit-reactnative

[2021-04-04 10:39] codlab commented on #24
Did you make sure that the cache was clean? Using `react-native start --reset-cache` should do it

[2021-04-04 14:03] ravieze commented on #21
hi,

thank you forthe script given.

while my android team will check the script given i tried to get the voxeet working on IOS (react native version 0.64.0) ran into the issue said above (in  last ticket). To fix it I am tryin to follow the below part from the git documentation

In the target of the xcode app I am unable to find FBReactNativeSpec anywhere. Can you please guide me to it. I am usin

[2021-04-04 14:06] codlab commented on #21
Click on the tab "Build phases", then you'll see a list of "TARGETS" in the menu on the left inside the main screen. It's in here
<img width="679" alt="Capture d’écran 2021-04-04 à 16 04 50" src="https://user-images.githubusercontent.com/3624067/113511365-be2d3e80-955f-11eb-974f-f8a91508dc3e.png">

[2021-04-04 14:10] ravieze commented on #21
i dont have the targets mentioned in your screenshot. Am i missing something?

![image](https://user-images.githubusercontent.com/5900517/113511472-951ba680-957d-11eb-8833-ca7a0a4adf0b.png)

[2021-04-04 14:23] codlab commented on #21
It seems you opened the xcodeproj and not xcworkspace

[2021-04-04 14:39] ravieze commented on #21
oh! thank you.

Sorry I am new to all this. Btw, i tried quitting xcode, open the xcode and open the .xcworkspace it opens the same above screenshot --what i posted in previous message.

[2021-04-04 14:41] codlab commented on #21
My bad, from the left menu of the workspace, click on the "Pods" and from there follow the above steps 👍
<img width="932" alt="Capture d’écran 2021-04-04 à 16 41 28" src="https://user-images.githubusercontent.com/3624067/113512364-a2786700-9564-11eb-8b93-4048c821e01c.png">

[2021-04-04 15:10] ravieze commented on #21
Wonderful. it worked. now i do as said in the docs

I did exactly the above. The below is the screenshot now.
![image](https://user-images.githubusercontent.com/5900517/113513066-60abe880-9585-11eb-9cd7-d7924d65556a.png)

I again run the below command ( remember that i didnt run pod install or pod update post the above change as said in the docs). The build fails with ebelow error.

[code]

Full l

[2021-04-05 03:33] telltokichu commented on #24
I ran with ```react-native start --reset-cache```

now i'm getting error stating - "**[TypeError: Object is not a function]**"

[2021-04-05 10:58] ravieze commented on #21
anyupdate?

[2021-04-05 11:28] codlab commented on #24
Perfect, so you can use events as a field and not a function 👍

[2021-04-05 15:46] ravieze commented on #21
Guys, do you think something is wrong with my setup? How do i proceed from here? any pointers?

[2021-04-05 16:26] codlab commented on #21
The issue is here :

``` error: include of non-modular header inside framework module 'UMPermissionsInterface.UMPermissionsInterface': '/Users/ravichandra/proj/live-consumer-mobile/ios/Pods/Headers/Public/UMCore/UMModuleRegistry.h' [-Werror,-Wnon-modular-include-in-framework-module]```

There are multiple ways of dealing with this

Like using the `, :modular_headers => false` on the line of the po

[2021-04-05 17:32] ravieze commented on #21
Hi,
I am new to IOS developent/ pod files. Will it be possible to tell in what pod file we have to make the changes? and how.?

[2021-04-06 09:49] vjard commented on #21
Hello @ravieze, can I download your project to see what's going on? I cannot reproduce your issue.

These steps are working with the latest react native version 0.64:
- react-native init voxeetapp
- cd voxeetapp
- yarn add @voxeet/react-native-voxeet-conferencekit --save
- cd ios
- open Podfile —> Edit platform :ios, '10.0’ to platform :ios, '11.0’           save and quit.
- pod update
- Follow ht

[2021-04-07 07:02] ravieze commented on #21
The issue is in my current project. The project is in expo 0.64. version. I wanted to know if voxeet could have caused the issue.  Anyways, i think the only way leftoff for me is to start with a new expo and keep adding feature by feature till i hit the issue --which will take a long time.

[2021-04-07 08:55] telltokichu commented on #24
could you please share code snippet ?

current code :  from this which part should be updated ?
[code]

[2021-04-07 09:33] codlab commented on #24
You can use this

[code]

[2021-04-08 06:40] chatwithsrini commented on #24
i have used above.. it does not work.. it doesn't show error, but i din't receive events in console. i have used this on two different places

1. useEffect(() => {
    VoxeetSDK.events.addListener(ConferenceStatusUpdatedEvent, onConferenceStatus);
      }, []);

2. const isInitialized = await VoxeetSDK.initializeToken(data.access_token, refreshToken);
          if (isInitialized) {
            con

[2021-04-08 07:16] tuneerclixlogix opened #25 "Call UI not opening on iPhone X"
Device: ( iPhone X)

https://user-images.githubusercontent.com/72122766/113983731-e8387680-9867-11eb-9e8f-982d0da94797.MP4

@codlab On some iOS devices we are facing issues like this the UI opens and closes but on others it is working fine, the code on click of call button is
`VoxeetSDK.setTelecomMode(true);
const constraints = {
    audio: true,
    video: true,
    video: {
        width: {

[2021-04-08 07:41] tuneerclixlogix opened #26 "Video conference by default"
Question: Can we start the conference with the video On by default and the other user will also be notified that its an audio or video conference ?

[2021-04-09 16:44] FabienLavocat commented on #26
Yes, you can start the conference with video on by default:
[code]

Unfortunately, there is no way to let the other participant know the audio & video are on with the UXKit.

[2021-04-09 16:47] codlab commented on #25
Note that the constraints are strictly about having boolean values on mobile. It’s a probably issue here

[2021-04-09 16:50] FabienLavocat commented on #25
Then forget about my last comment and instead use this code:
[code]

[2021-04-12 08:41] tuneerclixlogix commented on #25
This was only happening on one of our users on iPhone X , I will remove
video: {
    width: { min: "320", max: "1280", },
    height: { min: "240", max: "720", },
  },
  and then will update this, but the call UI is also not opening on receiving the call on android devices. I have another issue for that here

[2021-04-12 13:00] tuneerclixlogix commented on #26
@FabienLavocat I tried with
const constraints = {
          audio: true,
          video: true,
};
but still I have to manually switch to video mode

[2021-04-12 13:39] tuneerclixlogix opened #27 "setTelecomMode not working on iOS"
@FabienLavocat
I used your commit https://github.com/voxeet/voxeet-uxkit-reactnative/pull/20/commits/c1fec2ef65d1d6f5c37b89d2e8f7f337d3b31f02
and did all the changes from this commit, its working fine on android when i end the call from other side it gets disconnected on the other side as well. But its not working with iOS

[2021-04-12 16:23] FabienLavocat commented on #26
@tuneerclixlogix on both iOS and Android?

[2021-04-12 16:26] codlab commented on #26
It's currently the expected behavior, those options are not implemented. (for reference : https://github.com/voxeet/voxeet-uxkit-reactnative/blob/master/lib/types/JoinConference.ts)

To activate the video, it's either possible using the `VoxeetSDK.defaultVideo(enable: boolean)` or using the new beta version (or direct integration of the new branch in the project)

[2021-04-12 16:26] tuneerclixlogix commented on #26
Yes @FabienLavocat On both Android and iOS

[2021-04-12 16:31] tuneerclixlogix commented on #26
@codlab With beta 0.2.6 ?
https://github.com/voxeet/voxeet-uxkit-reactnative/tree/beta/0.2.6
Or i just call the VoxeetSDK.defaultVideo(true); ?

[2021-04-12 16:38] codlab commented on #26
the startVideo() and stopVideo() are available in the (and upward) `0.2.11-beta9`

the defaultVideo(true/false) is already available in previous versions

[2021-04-12 16:39] tuneerclixlogix commented on #26
Thanks @codlab , I will try this and will update

[2021-04-12 16:39] tuneerclixlogix commented on #25
@FabienLavocat @codlab This issue is not resolved with the following constraints
const constraints = {
  audio: true,
  video: true,
};
I will try to manage iPhoneX to get the logs , till then can you suggest anything else ?

[2021-04-12 17:05] tuneerclixlogix commented on #25
Seems like it is happening only on one device, we tested on other iPhone X its working fine on that.

[2021-04-12 17:49] codlab commented on #25
@Comanga @vjard what do you think can be the issue here??

[2021-04-13 06:01] tuneerclixlogix commented on #26
Thanks @codlab  It's working perfect.

[2021-04-13 06:01] #26 closed

[2021-04-13 14:55] FabienLavocat commented on #27
@Comanga @vjard Is the telecomMode still implemented in the UXKit for iOS?
https://github.com/voxeet/voxeet-uxkit-reactnative/pull/20/files#diff-f34675648bda4a7f436ea18466aa2f8c46d4474832c96d65974b62b500428c4f

https://github.com/voxeet/voxeet-uxkit-ios/blob/master/VoxeetUXKit/Code/Controllers/VTUXConferenceController.swift#L24

[2021-04-13 17:54] codlab commented on #19
Using the latest beta version, (installing the library using @latest as a suffix), you will be able to register for the various events that are provided by the SDK. Until a complete documentation is written, I would suggest using typescript implementation

[2021-04-14 14:07] vjard commented on #27
Hello @FabienLavocat and @tuneerclixlogix,
We have just released a new UXKit 1.4.6 version which will fix the telecom issue. Will be available in the next release.

[2021-04-14 14:30] FabienLavocat commented on #27
Merci @vjard !

[2021-04-14 14:31] FabienLavocat commented on #5
This bug has unfortunately being opened for a while. If you still have issues please reopen a new ticket.

[2021-04-14 14:31] #5 closed

[2021-04-19 11:54] tuneerclixlogix commented on #25
@codlab On our devices its working fine but its not working on my client's device of which i cannot retrieve the logs. Please let me know if you need any other specific log that i can share from my device .

[2021-04-19 12:02] codlab commented on #24
Using the develop, branch the event should be working as expected. Can you confirm?

[2021-04-19 12:07] chatwithsrini commented on #24
No logs and warns were printed in console. It simply do nothing... I didn't receive any events..

[2021-04-19 12:07] codlab commented on #24
The branch has been updated during the last few days, please check using the latest revision

[2021-04-19 16:05] FabienLavocat commented on #25
Hi @tuneerclixlogix. How are you initializing the VoxeetSDK?
@vjard was able to reproduce this issue by setting the wrong application key/secret.
Please make sure your clients applications have the proper access token when initializing the SDK.

[2021-04-20 05:02] tuneerclixlogix commented on #25
Hello @FabienLavocat , I am using the below code to initialize the sdk and the flow is like this we call an api to fetch the application key/secret from our server and on its response we run the following code
await VoxeetSDK.initialize('xxxxx', 'xxxxx')
const user = {
externalId: user_id,
name: firstName,
avatarUrl: photos[0]
}
let connectRes = await VoxeetSDK.connect(user);
let awaitingResponse

[2021-04-20 05:05] FabienLavocat commented on #25
@tuneerclixlogix could you check that the SDK is initialized properly before starting the conference. I’m asking because we reproduce the exact same problem when the Consumer Key and Secret are incorrect.

[2021-04-20 05:08] tuneerclixlogix commented on #25
@FabienLavocat Sure, is there any method i can use to check if the sdk is initialized , which i can use to verify before starting the conference ( if not initialized i will initialize it again )

[2021-04-20 08:22] codlab commented on #25
Another possibility is that this customer is in an embargoed network where VoIP is disallowed, join request fails in such case but the UI may appear and disappear

[2021-04-21 15:00] chatwithsrini commented on #24
I have tried latest version of codes. There were no logs printed, when I toggles the function buttons on video call screen... Can you please provide sample code for events..

[2021-04-21 15:25] tuneerclixlogix commented on #25
@FabienLavocat @codlab to check this if the sdk is initialized successfully on another screen can i call the isUserLoggedIn method ? I can see that you have mentioned it as deprecated, but can i use it to verify for this scenario if the sdk is initialized properly or not ?

[2021-04-22 08:02] codlab commented on #24
The latest `git://github.com/voxeet/voxeet-uxkit-reactnative.git#develop` fix the issue 👍

[2021-04-23 03:36] chatwithsrini commented on #24
here i can see different types of events.. my actual problem is "I cant able to trigger events with above mentioned code". when i try addListener, it does not show any event. kidly suggest me to trigger event.

This is the code i have used to initiate events:-

const onConferenceStatus = (event) => {
    console.warn("event received", event);
  }

   const isInitialized = await VoxeetSDK.initializ

[2021-04-23 05:45] chatwithsrini commented on #24
i have tried devlop branch code. we have received events **successfully**..

could you please tell when you will publish this latest changes to @voxeet/react-native-voxeet-conferencekit package?

it will be really helpful, if these chenges are integrated as we are using it in our production application

[2021-04-23 05:49] codlab commented on #24
A new version will be pushed early next week. In the meantime, since lots of modification have been pushed in this branch, it should give you enough time to test and prevent any issue in your production app. I’m thinking about the new embedded version of the SDK (iOS and Android) as well as the push notification (Android) if you’re using them

[2021-04-23 05:56] chatwithsrini commented on #24
as we are fully dependent on react-native framework. we will wait for the new version next week...

**thanks for your kind support, it is really helpful..**

[2021-04-23 06:23] telltokichu commented on #24
@codlab I can also see Events after sync up with develop branch code.
as you mentioned, looking forward next week for the new Version @voxeet/react-native-voxeet-conferencekit package.

Thanks a lot !

[2021-04-28 17:08] codlab commented on #25
Actually, I may have a reason for the issue, can you tell where this specific user is located to?

Btw with the new implementation, you can get the events of the conferences and such which means as well that you can track why the ui is closing. Did you test that the join call succeeded as well? And was not rejected afterward?

[2021-04-29 13:24] tuneerclixlogix commented on #25
Thanks @codlab , I think this issue has been resolved on my client's side and it seems to be not occurring now.

[2021-05-04 09:07] vjard commented on #21
Hello @ravieze, is it ok on your side, can we close this issue?

[2021-05-04 17:14] ravieze commented on #21
Not yet. I am trying it out. will keep u posted.

[2021-05-04 17:56] ravieze commented on #21
Hi,

we tried starting off with the given `expo init` commands above on `31st March`. Basically we are trying to create a bare metal reactnative project and then we want to add the other modules one by one. However The bare min reactnative has failed to configure. the full logs is as follows.

[code]

Full trace is as follows

[code]

[2021-05-04 20:03] codlab commented on #21
Using latest Xcode version + expo-cli 4.4.3, here is the output I got on my machine :

[code]

Checking as well with a `cd ios ; arch -x86_64 pod install` gives the following :

[code]

[2021-05-04 20:08] codlab commented on #21
Tried as well using a previous version of the expo-cli, and still working

what is the result of an explicit pod install command? what is the react-native version of the project?

[2021-05-04 20:10] ravieze commented on #21
i went forward with the app configuration. finally i did `pod install` , `pod update` . I wanted to do the below (as said in readme) but couldnt find the cpuser in it.

Xcode screenshot is as follows
![image](https://user-images.githubusercontent.com/5900517/117061860-532e7d80-ad40-11eb-9ad6-9730c683991e.png)

 `cd..` , `react-native run-ios --device "User's iPhone"` i land into the below issue.

[2021-05-04 20:12] ravieze commented on #21
react-native --version
react-native-cli: 2.0.1
react-native: 0.63.4

[2021-05-04 20:40] codlab commented on #21
@vjard

Following my attempts (no pod issue on my side), had other issues tho : (1 line is one issue, fixed the issue and then went into the next issue -> the next line etc...)

- had to changed the Podfile with `use_frameworks! :linkage => :static`
- to fix the duplication asset issue, changed in "voxeetapp3"'s "build phases" -> [CP] Copy Bundle Resources -> "output files" -> "..../Assets.car" ->

[2021-05-04 20:42] codlab commented on #21
@ravieze can you test on your side if you can reproduce the errors in the same order as I do on my side ?

[2021-05-05 11:03] ravieze commented on #21
Have u tried on a clean slate? and u dont get the errors i mentioned? Was the git link i shared of any use to reproduce the issue? (https://github.com/ravieze/voxeet-app3)

Below is the output. (i had added the string `use_frameworks! :linkage => :static` to the pod file. The pod file is below).

After this i run the code `react-native run ios` and land into the same issue as in previous comment.

[2021-05-13 05:24] tuneerclixlogix opened #32 "iOS build failing with develop branch"
For iOS I am not able to build the app with the develop branch
"react-native": "0.63.3"
"@voxeet/react-native-voxeet-conferencekit": "git://github.com/voxeet/voxeet-uxkit-reactnative.git#develop"
"@voxeet/react-native-voxeet-firebase": "^2.0.2"
![image](https://user-images.githubusercontent.com/72122766/118081566-3bf32e00-b3d9-11eb-980a-fed7e539a78c.png)

[2021-05-13 05:34] tuneerclixlogix opened #33 "Crash in debug mode and random crash in release mode apk"
@codlab There crash we discussed on call while working with the debug builds is also occurring now with the release apk on random basis when the UI is displayed .
"react-native": "0.63.3"
"@voxeet/react-native-voxeet-conferencekit": "git://github.com/voxeet/voxeet-uxkit-reactnative.git#develop"
"@voxeet/react-native-voxeet-firebase": "^2.0.2"
It occurs randomly not everytime like it may work 2 tim

[2021-05-13 08:17] codlab commented on #32
Did you properly installed the pods ?

[2021-05-13 08:17] codlab commented on #33
Did you properly configured the project?

[2021-05-13 08:19] tuneerclixlogix commented on #32
Yes, I also tried after reinstalling the pods

[2021-05-13 08:20] tuneerclixlogix commented on #33
Yes, I followed all the steps and also checked the new changes in readme file. We have also noticed this issue on our last call but then it was happening only with the debug builds

[2021-05-13 08:35] tuneerclixlogix commented on #32
@codlab Recently i was facing issues with few pods of low deployment target so I added this in podfile
post_install do |installer|
    installer.pods_project.targets.each do |target|
     target.build_configurations.each do |config|
      config.build_settings['IPHONEOS_DEPLOYMENT_TARGET'] = '11.0'
     end
    end
   end
This changes the deployment target for all pods. What should be the target f

[2021-05-13 09:08] codlab commented on #33
It would be great that if you can reproduce the release build crash, you send me an apk at my email kevin.leperf /a/ dolby.com

In on other note, I'm not familiar with react native 0.63.x since I bumped the various environment from pre <0.60 to 0.60.x, 0.61.x and 0.64.0 versions of react native. It is completely possible that 0.63.x has a random behavior.

Given 0.64.0, what I could reproduce is t

[2021-05-13 11:32] tuneerclixlogix commented on #33
Sure @codlab , I will create dummy accounts and will create an apk for you. I have also increased the react native version to 0.64.1 but still facing this crash. I have noticed that mostly it will occur when the application was in killed state and then someone calls but not everytime . And in debug mode it occurs everytime i start the conference

[2021-05-13 18:51] codlab commented on #33
I may have a complete working and reliable implementation in the test app. I was wandering around the ReactNative + Facebook implementation and tested to reintegrate the modification regarding debug mode.

With above modification + complete clean, it was working better but not enough, what I did was to also edit how the fbjni was loaded to remove it

Please take a look at and follow those modifica

[2021-05-17 06:08] tuneerclixlogix commented on #32
@codlab The build is failing with the develop branch, once i reinstalled with master branch it worked fine and the build was successful

[2021-05-17 09:13] codlab commented on #32
Make sure to be using Xcode Version 12.5 (12E262)

[2021-05-17 20:35] charleston10 commented on #32
I`ve same problem

Can you put your pod File?
What do you believe may have been the problem?

[2021-05-17 20:44] codlab commented on #32
You can find its content here : https://github.com/voxeet/voxeet-uxkit-reactnative-testapp/blob/master/ios/Podfile

Notice the lock file as well at https://github.com/voxeet/voxeet-uxkit-reactnative-testapp/blob/master/ios/Podfile.lock

make sure that when you installed the latest develop commit (or for the future, the latest release which will have all these), you upgraded the local pods reposito

[2021-05-18 04:57] tuneerclixlogix commented on #32
My Xcode version is 12.3 can that be an issue ?
I will upgrade it today and then try with your podfile.

[2021-05-18 21:14] charleston10 commented on #32
I solved problem

I had to update the RN's library, because 21 days ago a patch was released to support for Xcode 12.5 and Swift 5.4.
Or can manually add the lib (https://github.com/voxeet/voxeet-sdk-ios/releases/tag/v3.1.5)

[2021-05-23 23:04] codlab commented on #33
@tuneerclixlogix di you have the change to test the latest version ?

[2021-05-24 05:34] tuneerclixlogix commented on #33
Yes @codlab ,
I think you have removed the following code from your solution from MainApplication.java . But am still using this
`SoLoader.loadLibrary("dvclient");
    SoLoader.loadLibrary("MediaEngineJni");`
After following these steps I haven't faced this crash.

[2021-05-24 05:42] codlab commented on #33
It's not an issue that you have let those lines (SoLoader will discard them automatically if you are using the latest version)

It's a great news. Given all the devices I have locally, not seeing the crash was a good step in the right direction but knowing that you don't have it anymore as well confirms my suspicions. That's great. I will push new versions quite soon. I am resolving this ticket si

[2021-05-24 05:42] #33 closed

[2021-05-24 05:43] codlab commented on #24
A new version was pushed, a new one will follow quite soon (I still need to prepare a plan to have regular versions available in the future using a pre defined release window). I'm closing this ticket 👍

[2021-05-24 05:43] #24 closed

[2021-05-24 05:44] codlab commented on #23
The new version lets you integrate your own UI directly from your app. You can then customize everything with more integration. You can use the latest versions. I'm closing this ticket but don't hesitate to open a new one if something goes wrong using the new one. (the initialization step now have a boolean, true will deactivate the overlay)

[2021-05-24 05:44] #23 closed

[2021-05-24 05:45] codlab commented on #19
Closing this ticket as everything has ben pushed and is available right now 👍

[2021-05-24 05:45] #19 closed

[2021-05-24 05:46] codlab commented on #6
Closing this rather old ticket since it's now officially supported, almost every events are available. If some are missing (or will come but aren't yet), please open a new ticket 👍

[2021-05-24 05:46] #6 closed

[2021-05-24 05:47] codlab commented on #10
This was fixed quite a long time ago. Closing this ticket but don't hesitate to open a new one if something else happens 👍

[2021-05-24 05:47] #10 closed

[2021-05-24 05:48] codlab commented on #25
Closing this ticket since it seems to have been fixed 👍

[2021-05-24 05:48] #25 closed

[2021-05-24 05:50] codlab commented on #32
Closing this ticket since it's only related to Xcode + react-native compatibility (hopefully, one day Xcode's tools will have an dev experience as smooth as the gradle integration, until then this kind of issues will arise each time we need to bump our iOS SDK implementation). Please open a new ticket if something else happens

[2021-05-24 05:50] #32 closed

[2021-05-24 05:50] codlab commented on #27
Should be available, closing this ticket :)

[2021-05-24 05:50] #27 closed

[2021-05-31 10:42] tuneerclixlogix opened #35 "-[NSNull _fastCStringContents:]: unrecognized selector sent to instance 0x1eb639ee0"
@codlab @FabienLavocat
Our users are recently facing the below crash on iOS , this is when the installation is with the develop branch
-[NSNull _fastCStringContents:]: unrecognized selector sent to instance 0x1eb639ee0
![image](https://user-images.githubusercontent.com/72122766/120181491-c38aca80-c22a-11eb-9e3e-ba094e99f9d3.png)

[2021-05-31 10:44] codlab commented on #35
What are your connect() arguments?

[2021-05-31 10:52] tuneerclixlogix commented on #35
@codlab
[code]

[2021-05-31 10:52] codlab commented on #35
What are the possible values of each of those variables?

[2021-05-31 11:09] tuneerclixlogix commented on #35
The possible values are
user_id: string
name: string
avatarUrl: string (AWS s3 bucket url)

[2021-05-31 14:14] codlab commented on #35
@vjard can you check this, seems a regression in the SDK itself

[2021-05-31 15:02] vjard commented on #35
@tuneerclixlogix Cannot reproduce it on develop branch with the following code:
[code]

Are you sure that values are string on client side?

[2021-05-31 15:52] vjard commented on #35
@tuneerclixlogix Merge request has been approved, should works on develop branch now. Waiting your feedback before closing this ticket.

[2021-06-01 07:22] tuneerclixlogix commented on #35
Thanks @vjard @codlab ,
if it happened with null or undefined then i will also apply checks for these at application side, can i send the blank string if there is any null or undefined value in avtarUrl ?

[2021-06-01 07:36] vjard commented on #35
@tuneerclixlogix Yes you can. :)
But I've fixed the problem on Objective-C side, so it will not happen anymore, even with null or undefined.

[2021-06-01 07:37] tuneerclixlogix commented on #35
Thanks @vjard

[2021-06-01 07:43] #35 closed

[2021-06-15 12:26] vjard commented on #21
Hello @ravieze,
Yesterday we have released a new version of our SDK.
I have edited your project to be able to build it.
Here is the link to download it: https://dolby.box.com/s/243niyn2mu6gw8ib1upwa4gpxn5zyotc

Changes done to be able to build:
1. cd voxeet-app3-master
2. yarn remove @voxeet/react-native-voxeet-conferencekit --save
3. yarn add @voxeet/react-native-voxeet-conferencekit --save
4. cd

[2021-07-06 14:23] vjard commented on #21
Hello @ravieze,
v0.2.13 has been released today. Any news on this issue? Did you try my solution?

[2021-07-12 09:30] hungkoala opened #40 "support Xcode 12.4"
Cannot build the  project on [Microsoft App Center](https://appcenter.ms/) because it supports Xcode 12.4 only

[2021-07-12 09:36] codlab commented on #40
This issue is still in progress at Microsoft's engineering level. Please refer to https://github.com/microsoft/appcenter/issues/2185

[2021-07-12 09:36] #40 closed

[2021-07-20 10:39] hungkoala opened #41 "Got error "dependency were found, but they required a higher minimum deployment target""
**Describe the bug**

Got error "dependency were found, but they required a higher minimum deployment target" when running ``` pod install ```

https://lh3.googleusercontent.com/pw/AM-JKLW0wyHS1z7CG8_2T1MZ0RJj9ooBPygI9Pes4y6rq1ZFVNyJFzvXsjQ3mJ2NLfM2RO0S92AO_y2VO4GoDvZDSb3adv9SfsK2jmSWlnN37j29gWBDs2J81cWVfDEpsXen4XvIYxbeEKwpIt-hoZ5D9-WU=w1802-h800-no?authuser=0

**Expected Behaviour**

should insta

[2021-07-20 14:50] FabienLavocat commented on #41
Hi @hungkoala,

Could you please update your project and Podfile to support iOS 11 and later. See our [Supported Environments](https://docs.dolby.io/interactivity/docs/overview-supported-environments).
Here is a [Sample Application](https://github.com/voxeet/voxeet-uxkit-reactnative-testapp) that's using the React Native UXKit and its [PodFile](https://github.com/voxeet/voxeet-uxkit-reactnative-te

[2021-07-21 00:01] hungkoala commented on #41
after updating IOS 11 on the Podfile, it works
Thanks

[2021-07-21 00:01] #41 closed

[2021-08-10 21:10] FabienLavocat commented on #9
https://github.com/voxeet/voxeet-uxkit-reactnative#usage

[2021-08-10 21:10] #9 closed

[2021-08-26 15:25] charleston10 opened #45 "Stopped working download library"
**Describe the bug**

Jfrog status Bintray is Ok, but library can not downloaded (https://status.bintray.com/)

And this link `maven { url "https://dl.bintray.com/voxeet/maven" }` also doesn't work anymore
This access is 403 Forbbiden

And now the company's project no longer works, as it needs to have the library
Even the pipeline stopped working

How can this problem be resolved?

File https://gi

[2021-09-20 17:07] #45 closed

[2021-11-30 03:05] hungkoala opened #50 "Got issue CocoaPods could not find compatible versions for pod "VoxeetSDK":"
It looks like VoxeetSDK 3.3.0 was not upload to CocoaPods

[code]

[2021-11-30 11:02] gmakwana commented on #50
Yes @hungkoala You are right.

@FabienLavocat @codlab Can you please look into this on priority.

[2021-11-30 15:33] FabienLavocat commented on #50
Hi @hungkoala.

Thank you for the report, we noticed that the release on Cocoapods is pointing to an older version of the SDK.
We are working on fixing it.

Thanks,
Fabien

[2021-11-30 16:14] FabienLavocat commented on #50
We just pushed the release 3.3.0 to Cocoapods: https://cocoapods.org/pods/VoxeetSDK

Please try again and let me know if you still have an issue installing the latest version.

Thanks,
Fabien

[2021-12-01 09:12] harpalCodal commented on #50
@FabienLavocat
Again i'm suffering from same issue. I have installed pod version of 1.11.2 in my machine and getting following error

`[!] CocoaPods could not find compatible versions for pod "VoxeetUXKit":
  In Podfile:
    voxeet-uxkit-reactnative (from `../node_modules/@voxeet/react-native-voxeet-conferencekit`) was resolved to 0.3.0, which depends on
      VoxeetUXKit (= 1.6.0)

None of your s

[2021-12-01 16:53] nate-giddy commented on #50
I'm running into the same issue now as well with VoxeetUXKit

[2021-12-01 20:48] FabienLavocat commented on #50
The website seems to have an issue, but run the following commands:
[code]

You should see the version 1.6.0 of the VoxeetUXKit pod:
[code]

[2021-12-02 16:44] hungkoala commented on #50
@FabienLavocat  it works on my computer now

[2021-12-02 16:54] hungkoala opened #51 "Can not receive video call of users deny (blocked) microphone on android"
if users block the microphone on the Settings, the application cannot receive video calls
Expected: the system can receive  video calls but users cannot talk as iOS version

for more details please check this link

https://drive.google.com/file/d/1Qe__c2fPtJPT5fAguHBcCMJmtc1xlZOt/view?usp=sharing

[2021-12-02 16:59] #51 closed

[2021-12-02 17:01] FabienLavocat commented on #50
Excellent, thank you for reporting this issue @hungkoala

[2021-12-03 10:02] harpalCodal commented on #50
@FabienLavocat Now working fine for me as well.

[2021-12-10 09:19] hungkoala opened #52 "Get gradle error "Unable to load Maven meta-data from ...""
I got error below, maybe the voxeet maven repository is down

[code]

[2021-12-10 09:21] codlab commented on #52
You need to remove the outdated dl.bintray.com line from the dependencies. (It will be removed from the readme as well)

[2021-12-10 09:21] #52 closed

[2021-12-10 09:33] hungkoala commented on #52
it works now, thanks so much

[2021-12-13 08:32] hungkoala opened #53 "Get error "EXC_BAD_ACCESS""
This error was logged on our Sentry server, iOS Version:14.8.1, iPhone XS Model:D321AP

[code]

[2021-12-13 16:08] charleston10 opened #54 "Maven - Error downloading library (host access denied)"
**Describe the bug**

Maven occur this error downloading library

[code]

**Expected Behaviour**

download lib normally

**Steps to Reproduce the Problem**

I followed the documentation ([link](https://github.com/voxeet/voxeet-uxkit-reactnative))

  1. Add `maven { url "https://android-sdk.voxeet.com/release" }` in android on `allprojects.repositories`
  2. Click in Sync gradle

**Minimalistic cod

[2021-12-13 16:22] codlab commented on #53
It seems to be a bug with retaining object in memory, can you give a look @vjard ?

[2021-12-13 16:28] codlab commented on #54
The above error is normally what you can expect when calling directly https://android-sdk.voxeet.com/release. Can you post the full sync logs you got?

Also, it may be possible that the presence of jcenter() is raising this due it's invalidity (I haven't experienced this in the past but maybe that its failure is forcing the chain to check the other urls, thus creating the issue)

[2021-12-14 18:25] charleston10 commented on #54
I managed to make it work
the order of the dependencies' download repositories were influencing when I was able to consult the maven file
the file was like this

**Gradle Project**
[code]

[2021-12-14 18:25] #54 closed

[2021-12-20 06:51] hungkoala commented on #53
is there any update on this?

[2021-12-30 08:34] hungkoala opened #56 "The video closes immediately when users pick up a call"
The error happens to one of my customers when she picks up a phone call, the application close immediately, and the system throw an event  as below  onConferenceStatusUpdated,  nothing more without any error details

[code]

**Expected Behaviour**
Should do phone calls successfully

**Specifications**
Android Version:9
Model:HUAWEIINE-LX2r, INE-LX2r
Kernel Version: 4.9.148
--

[2021-12-30 08:47] codlab commented on #56
*the application close immediately*

Is it the application or the overlay? You mention you receive the event

Do you catch and manage join() errors? as this status containing error can be sent in two various occasions :

- something is happening before joining
- an error happening while joining, it will be sent in parallel from rejection from join() call*
- negotiations couldn't happen during post

[2021-12-30 08:57] hungkoala commented on #56
it's  the video overlay

[2021-12-30 09:02] hungkoala commented on #56
i will check "Communications API"

[2021-12-30 09:08] hungkoala commented on #56
Beside the error status above, our system also recorded events below::

{"status":"JOINING","conferenceAlias":null,"conferenceId":"616cb6a6-8d76-417a-aea5-45eeb7dcfdf3"}

{"status":"JOINED","conferenceAlias":"1640835312655","conferenceId":"616cb6a6-8d76-417a-aea5-45eeb7dcfdf3"}

{"status":"LEFT","conferenceAlias":"1640835312655","conferenceId":"616cb6a6-8d76-417a-aea5-45eeb7dcfdf3"}

[2021-12-30 16:31] FabienLavocat commented on #56
Hi @hungkoala,
I looked at the logs for your conference, it was created from a Windows PC using the H264 codec.
Once the Android device connected to the conference, it failed to process the video.
When you create the conference, I would recommend to use the VP8 codec instead of H264, especially if you have a lot of devices like this one which are not supporting H264. To force VP8, you must set the

[2021-12-30 17:33] codlab commented on #56
Software codecs are not enabled out of the box. To support such environment, you will need a specific native snippet inside your rn's MainApplication class. I'll send this snippet a bit later

[2021-12-30 18:40] codlab commented on #56
Here is the snippet you will need in the java implementation :

[code]

This will enable the fallback to the codecs for VMs 👍

[2021-12-30 18:57] codlab commented on #56
My bad I thought @FabienLavocat mentionned the user was using Windows (with one of the available VMs !)

It doesn't invalidate the "fix". I will use this to update the list of supported codecs inside the SDK to support this device in parallel (!)

[2022-01-03 08:58] hungkoala commented on #56
which function in MainApplication.java I should put these line of code in

[2022-01-03 17:52] FabienLavocat commented on #56
@hungkoala you can write it in the [onCreate](https://github.com/voxeet/voxeet-uxkit-reactnative-testapp/blob/master/android/app/src/main/java/com/testappvoxeet/MainApplication.java#L43) function.

[2022-01-13 09:23] harpalCodal opened #57 "Application is crashing in kill state when we trying to make call"
**Some time call functionalities is not working as expected when receiver side application is in kill state**

[We are facing issue like when receiver side application is in kill state and caller try to call receiver, receiver is not able to get call notification. And some time receiver getting call notification in kill state but when he try to receive it application is getting crash.]

We are usi

[2022-01-13 09:25] codlab commented on #57
On which platform?

[2022-01-13 09:26] harpalCodal commented on #57
@codlab We are facing that issue with iOS only. With android we are fine.

[2022-01-13 09:26] codlab commented on #57
Do you have the crash report for those cases?

[2022-01-13 09:36] harpalCodal commented on #57
@codlab I have device log. That i am sharing with you. Also i have added firebase crash analytics in application. I am sharing screen shot of that firebase crash also for your batter understanding. I hope that will helps you.
[Subify  1-12-22, 8-03 PM
![Screenshot 2022-01-13 at 3 05 09 PM](https://user-images.githubusercontent.com/47382628/149304404-ef2ae2e9-0390-4996-bc2c-8b2931e36747.png)
.crash

[2022-01-17 11:34] hungkoala opened #58 "Get "Conference error" on Android if users do not allow Microphone Permission before receiving income calls"
![](`https://ibb.co/8zjRRYY`)

when a income call arrive -> users accept it -> system ask for permission -> users choose allow ->  system shows error above

[2022-01-17 11:36] codlab commented on #58
Please follow the issue creation available when opening new issues.

Also please provide logs for the application

[2022-01-17 12:44] hungkoala commented on #58
Hi Codlab,
the conference  is
[code]

I searched in https://dashboard.dolby.io/dashboard/applications/367651/interactivity-apis/monitor/ but there is no info

[2022-01-17 12:46] codlab commented on #58
The log required are device specific, you will need to retrieve these using adb

[2022-01-17 12:57] hungkoala commented on #58
here it is , the conference id is `c73194f5-1257-414b-91e5-fec3b8ae5c66
[log.txt.zip](https://github.com/voxeet/voxeet-uxkit-reactnative/files/7881972/log.txt.zip)
`

[2022-01-17 12:59] hungkoala commented on #58
https://user-images.githubusercontent.com/2076651/149773298-9491ff92-235c-42c9-93dd-9b4c99a1cc92.mp4

here is the video how it happens on mobile app

[2022-01-18 06:35] harpalCodal commented on #57
@codlab Can you please update me if you find anything.

[2022-02-04 13:55] charleston10 opened #59 "Swift compiler error"
**Describe the bug**

Build failed
I updated my mac and also xcode now the project keeps giving error when trying to build

Maybe I need to do a new configuration, can someone help me with this case?

![image](https://user-images.githubusercontent.com/3097207/152539446-138c54f7-4e36-4ba7-8a77-144084cc773e.png)

**Expected Behaviour**

Build success

**Steps to Reproduce the Problem**

Xcode -> Pro

[2022-02-05 15:12] hungkoala opened #60 "Got error on file RetryAndFollowUpInterceptor.java lineNumber 176"
[code]
error happened when she picked up the phone call

conference ID: e3e7eea7-83d6-40a2-8bfc-4af1f5b03068

SAMSUNG Galaxy node 20, Android 11

[2022-02-05 23:00] codlab commented on #60
Do you have access to the complete stack trace from this report or have access to the complete adb logcat crash?
I see that the error contains more stack trace information

is this issue reproducible?

[2022-02-07 08:54] hungkoala commented on #60
That's all I have on our Sentry server

I cannot contact that customer to re-test the phone call function.

[2022-02-20 08:43] hungkoala opened #61 "Error NSInternalInconsistencyException attempt to insert item 1 into section 0, but there are only 1 items in section 0 after the update"
[code]

[2022-02-20 08:52] hungkoala opened #62 "Error anonymous(index.android)"
[code]

[2022-02-24 08:57] yganu commented on #61
@hungkoala
Could you provide steps to reproduce the crash or what are the conditions that make it happen. If it is the crash report from appstore or firebase, how often does a crash occur?

[2022-02-28 07:11] hungkoala commented on #61
it's a crash report from Sentry

[2022-02-28 07:27] yganu commented on #61
@hungkoala thank you,
Does it cause a significant number of crashes?

[2022-03-01 09:41] codal-mpawar commented on #59
@FabienLavocat we are facing the same issue. Can you please let us know when we expect the update?
Same specifications as @charleston10 mentioned.
<img width="1221" alt="Screenshot 2022-03-01 at 3 05 45 PM" src="https://user-images.githubusercontent.com/46340921/156143462-e021d545-ba56-4883-8cfd-b186cecbc706.png">
?

[2022-03-02 06:41] harpalCodal commented on #59
@FabienLavocat any update for latest iPhone os support ?

[2022-03-03 13:29] harpalCodal commented on #57
@codlab Still we are facing same issue. Please let me know if you find anything from crash log.
Please let me know if anything else required from my side

[2022-03-03 19:15] FabienLavocat commented on #59
Hi @codal-mpawar, the pull request #63 will fix the compatibility issue with the most recent version of Xcode.

[2022-03-07 06:21] codal-mpawar commented on #59
@FabienLavocat Can you please let us know when we expect the updated SDK?

[2022-03-09 17:45] FabienLavocat commented on #59
The UXKit [0.3.1](https://github.com/voxeet/voxeet-uxkit-reactnative/releases/tag/v0.3.1) has been released on [NPM.JS](https://www.npmjs.com/package/@voxeet/react-native-voxeet-conferencekit/v/0.3.1).

[2022-03-10 11:49] codal-mpawar commented on #59
@FabienLavocat **pod install error.**
We getting this error.
Current deployment version 11.0 and we try 11.0 11.2, 11.2 and up to 13.0 and currently we use swift version 5.0 and we try 5.5.1 and 5.5.2.
So can you please guide us on how we resolve this issue or issue from your side?

<img width="1075" alt="Screenshot 2022-03-10 at 5 15 11 PM" src="https://user-images.githubusercontent.com/46340921/

[2022-03-31 14:35] charleston10 opened #66 "[question] How to create notification Incoming Call?"
I saw that you support full screen notification when someone makes the call, but make sure which push notification format is used for this to work

How to create notification incoming call?
What is format of push notification?

Tks

[2022-05-10 06:19] renishdeveloper opened #69 "Camera resource not getting free after video call end."
**When the call ends and the app uses the camera to record video at that time the app is showing that Can't record video while voice call**

**Should clear the camera and micro phone after video call.**

**Steps to Reproduce the Problem**

1. Install the Voxeet SDK for react native and make a video call using voxeet UI kit and than try to record the video in the same app.

**Specifications**

  -

[2022-05-11 13:48] charleston10 opened #70 "Undefined symbols for architecture arm64 [react ios]"
**Describe the bug**

Error when build project - Undefined symbols for architecture arm64
I'm using physical device

<img width="1401" alt="Screen Shot 2022-05-11 at 10 39 13" src="https://user-images.githubusercontent.com/3097207/167864005-cd87ea55-3546-4c44-a4ea-5bd4a2e8d8c9.png">

**Expected Behaviour**

Build success

**Steps to Reproduce the Problem**

pod file
[code]

package.json

[code]

*

[2022-05-17 13:33] charleston10 commented on #70
any update?

[2022-07-25 10:17] renishdeveloper commented on #69
+1

[2022-08-02 08:07] codal-mpawar commented on #57
@FabienLavocat IS there any update on that?

[2022-08-03 20:41] FabienLavocat commented on #57
@codal-mpawar have you tried the most recent release of this project?

[2022-08-23 06:19] codal-mpawar commented on #57
@FabienLavocat We are getting still the same issue.

[2022-08-23 15:21] FabienLavocat commented on #57
@codal-mpawar could you please share device logs with the most recent version of the SDK. If this contains confidential information, please send it to our support channel.
Also, I'd like to share with you our new [SDK for React Native](https://github.com/DolbyIO/comms-sdk-react-native) that you might find interesting as you will be able to create your own UI.

[2022-08-29 18:44] FabienLavocat opened #71 "This is just a test"
**Describe the bug**

[A clear and concise description of what the bug is.]

**Expected Behaviour**

[Describe the expected behaviour of the feature.]

**Steps to Reproduce the Problem**

  1. Go to...
  2. Click...
  3. See the...

**Minimalistic code (recommended)**

[Please provide a link to a repository showing specifically the issue. It should only have the minimal footprint of your own imple

[2022-08-29 20:17] FabienLavocat opened #72 "This is just a test"
**Describe the bug**

[A clear and concise description of what the bug is.]

**Expected Behaviour**

[Describe the expected behaviour of the feature.]

**Steps to Reproduce the Problem**

  1. Go to...
  2. Click...
  3. See the...

**Minimalistic code (recommended)**

[Please provide a link to a repository showing specifically the issue. It should only have the minimal footprint of your own imple

[2022-11-22 11:06] codal-mpawar opened #73 "The iOS build failed on app center."
@codlab @FabienLavocat

The iOS build failed on app center.

**The following build commands failed:
	CompileSwift normal arm64 (in target 'VoxeetUXKit' from project 'Pods')
	CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler (in target 'VoxeetUXKit' from project 'Pods')**

**Expected Behaviour**

The build wan not failed on any platform.

**Specifications**
Xcode: 13.4
node vers

[2022-11-23 04:25] codal-mpawar commented on #73
@FabienLavocat @codlab @j12y Any update?

[2022-11-23 15:28] codal-mpawar commented on #73
@FabienLavocat @codlab any update?

[2022-11-29 16:29] FabienLavocat commented on #73
Could you please provide a more complete log file.